.sorukutu {
    width: 90vw;
    height: 6vw;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
}

.sorukutu h2 {
    z-index: 1;
    color: white;
    font-size: 2em;
}

.sorukutu::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
    z-index: 0;
}
.sorukutu {
    min-height: 50px;
}

.sorukutu.dogru-sec::after {
    background-color: orange;
}
